$mindaro: #d9ed92ff;
$light-green: #b5e48cff;
$light-green-2: #99d98cff;
$emerald: #76c893ff;
$keppel: #52b69aff;
$verdigris: #34a0a4ff;
$bondi-blue: #168aadff;
$cerulean: #1a759fff;
$lapis-lazuli: #1e6091ff;
$indigo-dye: #184e77ff;
$honeydew: #f1faeeff;
$white: #ffffffff;
$blue-violet: #8338ecff;
$french-violet: #7400b8ff;
$grape: #6930c3ff;
$slate-blue: #5e60ceff;
$united-nations-blue: #5390d9ff;
$picton-blue: #4ea8deff;
$aero: #48bfe3ff;
$sky-blue: #56cfe1ff;
$tiffany-blue: #64dfdfff;
$turquoise: #72efddff;
$aquamarine: #80ffdbff;
