@import "../../styles/color.scss";
@import "../../styles/input.scss";
@import "../../styles/button.scss";

.login {
  background: linear-gradient(
    to right top,
    $cobalt-blue,
    $bright-navy-blue,
    $bleu-de-france,
    $dodger-blue,
    $blue-jeans
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5em;

  .login-container {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .login-lottie {
    flex: 50%;
  }

  .login-form {
    display: flex;
    justify-content: center;
    background-color: $alice-blue;
    border-radius: 1em;
    padding: 4em;
    flex: 50%;
    margin-block: auto;

    .form-container {
      display: flex;
      flex-direction: column;

      .form-input-user {
        @include input();
      }
      .form-input-password {
        @include input($hidden: true);
      }
      .form-button {
        @include button();
      }
    }
  }
}
